body{
text-align:center;
}
#s1{
background: linear-gradient(#6dd6ac,#295241);
opacity:0.95;
color:#bbfcc2;
margin-bottom:50px;
}
img{
width:250px;
height:300px;
border-radius:50%;
margin-top:100px;

}
h2{

}
ul{
list-style:none;
position:absolute;
top:10px;
right:50px; 
z-index:10;
cursor:pointer;
}
li{
float:left;
color:#bbfcc2;
font-family:Lobster;
font-size:20px;
padding-left:9px;
padding-right:9px;
padding-top:5px;
padding-bottom:5px;
}
li:hover{
background-color:#a2e8be;
color:#0a4723;    
}
#name{
font-family:Ephesis; 
font-size:35px;    
}